*{padding: 0%; margin: 0;box-sizing: border-box;}
.Logo{width: 50px;}
h1{display: inline-block; margin: 15px; color: rgb(33, 36, 61);}
header{display: flex; justify-content: center;align-items: center; background-color: rgb(251, 233, 213); margin-bottom: 20px;;}
.Encabezado{background-color: rgb(230, 159, 133); width: 80%; height: 60px; margin: auto; display: flex; justify-content: center;}
.enc{padding: 10px; margin: 10px; text-decoration: none; color: rgb(121, 60, 53); font-weight: 700; font-size: larger; width: 200px;}
.enc:hover{text-decoration: underline; color: rgb(255, 221, 185); transition: all 0.5s;}
.carousel {position: relative; width: 80%;; margin: auto;overflow: hidden;}
    .carousel img {width: 100%;display: none;}
    .carousel img.active {display: block;}
    .carousel button {position: absolute;top: 50%;transform: translateY(-50%);background-color: rgba(224, 96, 64, 0.712);color: white;border: none;padding: 10px;cursor: pointer;}
    .carousel .prev {left: 10px;}
    .carousel .next {right: 10px;}

#IMG{height: 500px;}
body{background-color: rgba(255, 245, 210, 0.327);}
h2{ padding: 15px; background-color: rgb(255, 240, 217); width: 300px; height: 80px; text-align: center; margin: auto; margin-top: 10px; color: rgb(103, 76, 54); margin-bottom: 20px;}
.FOTO{width: 200px; height: 200px; padding: 10px; border-radius: 30px; border: 20px solid;}
.FOTO:hover{filter: brightness(80%); transition: all 0.5s;}
section{display: flex; justify-content: center;}
h3{text-align: center; color: rgb(99, 56, 47); margin-bottom: 20px;}
#Boton{background-color: rgb(232, 134, 98); border: none;  width: 160px; border-radius: 10px; color: rgb(94, 47, 23);height: 50px; }
.contenedor{text-align: center;}
#Boton:hover{background-color: rgb(99, 30, 30); color: antiquewhite; transition: all 0.5s;}
#Cartel{width: 100%; height: 420px; margin-top: 20px; margin-bottom: 4px;}
#Lana{width: 400px; height: 500px; padding: 20px; border-radius: 60px;}
.Tarjeta{width: 80vw; display: flex;flex-wrap: wrap;
  gap: 20px;
  padding: 30px; margin: auto; justify-content:center; margin-bottom: 10px;}
#invertida{display:flex; transition: all 1s; border: 10px solid; border-color: rgb(228, 197, 171); background-color: rgb(255, 244, 226);}
#invertida:hover{transform: scale(1.1);}
p{font-size:x-large; text-align: center; line-height: 40px; font-weight: 700; padding: 80px; color: rgb(231, 192, 135);}
footer{background-color: rgb(235, 164, 138); padding: 30px;}
nav{text-align: center; margin: 35px; margin-top: 10px;}
a{padding: 40px; font-weight: 800; color: rgb(93, 61, 52); text-decoration: none; font-size: larger;}
a:hover{text-decoration: underline; color: antiquewhite; transition: all 0.5s;}
.Seguir{color: rgb(111, 57, 57);}
.Iconos{display: flex ; justify-content: center; align-items: center; height: 100px;}
#derecho{color: rgb(253, 233, 211); padding: 5px;}

